@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>
<p>Category: <strong>@ViewBag.Category</strong></p>
<p>Product ID: <strong>@ViewBag.Id</strong></p> 